extends ./layout.pug
block body
    h2 Create Order
    <form action="/create_order" method="post">
        <input name="title" type="text" class="form-control" placeholder="Order Name" autofocus>
        br     
    </form>
