html(lang="zh")
    head
        meta(charset="utf-8")
        block headerTitle
        <meta name="viewport" content="width=device-width, initial-scale=1">
        link(rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="/css/custom.css")
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        block otherScripts
        div(class="navbar navbar-default navbar-static-top" role="navigation")
            div(class="container")
                div(class="navbar-header")
                    a(class="navbar-brand" href="/") 青岛捷怡纳包裹管理系统
                    
                ul(class="nav navbar-nav navbar-right")
                    - var userName = options.currentUser
                    if options.currentUser
                        li <a href="/create_order">新订单</a>
                        li <a href="/order_status">订单状态</a>
                        li <a href="/edit">你好, #{options.currentUser}</a>
                        li <a href="/logout">登出</a>
                    else
                        li <a href="/login">登录</a>
                        li <a href="/signup">注册</a>
    body
        block body