doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Qingdao Jieyina Package Management System
        link(rel="stylesheet" href="the.css")

        block header
    body
        block body