extends ./layout.pug
block headerTitle
    title 订单状态
block otherScripts
    <script src="js/order_status_controller.js"></script>
block body
    h2 订单状态
    #order_status
        table#order_status_table
            colgroup
                col(width="0%")
                col(width="20%")
                col(width="20%")
                col(width="20%")
                col(width="20%")
                col(width="10%")
                col(width="10%")
            thead
                tr
                    th(style="display:none") uuid
                    th 订单名
                    th 地址
                    th 联系人
                    th 状态
                    th 责任人
                    th 更改
            tbody
                each order in orders
                    tr
                        td(class=["uuid", "not"]) #{order.uuid}
                        td #{order.title}
                        td #{order.ship_add}
                        td lbl
                        td Open
                        td lbl
                        td 
                            nav
                                button(type='button' class=['btn', 'btn-info', 'deleteOrder']) 删除
                                button(type='button' class=['btn', 'btn-info', 'editOrder']) 编辑
                    

