extends  ./layout.pug
block body
    <div class="panel panel-default">
        .panel-heading
            ul
                li Username : #{user.username}
                li Company  : #{user.company}
                li Group : #{user.Group}
                li CreatedAt : #{user.createdAt}
    </div>