<tr>
    <td class="p_itemId">{{:p_itemId}}</td>
    <td class="p_name">{{:p_name}}</td>
    <td class="p_model">{{:p_model}}</td>
    <td class="p_quantity">{{:p_quantity}}</td>
    <td class="p_unit">{{:p_unit}}</td>
    <td class="p_price">{{:p_price}}</td>
    <td class="p_totalPrice">{{:p_totalPrice}}</td>
    <td class="p_note">{{:p_note}}</td>
    <td>
        <nav>
            <button type="button" class="btn btn-info editRow">编辑</button>
            <button type="button" class="btn btn-info deleteRow">删除</button>        
        </nav>
    </td>
</tr>